<div class="p-3" style="font-family: Roboto Mono;">
  <canvas width="1575px" height="600px" id="imgCanvas"></canvas>
  <h1 id="barcode" style="display:none;" style="font-family: Roboto;"></h1>
</div>

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

</style>

<script>
    let asset = {{{assetJson}}};
    document.title = "Barcode for {{{id}}} - {{{appName}}}";
</script>
<script src="js/datamatrix.js"></script>
<script src="js/barcodeBuilder.js"></script>