<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container">
        <a class="navbar-brand text-white" href="/"><i class="bi bi-pc-display me-2"></i>{{{ appName }}}</a>
        <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search">
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div class="d-flex justify-content-between">
        <h1 class="display-4 fw-normal my-3">Asset List</h1>
        <div class="mt-4">
            <label for="sortDropdown" class="form-label">Sort:</label>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" id="sortDropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Default
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" onclick="reSort('Default',assets)">Default</a></li>
                    <li><a class="dropdown-item" onclick="reSort('Oldest',assets)">Oldest</a></li>
                    <li><a class="dropdown-item" onclick="reSort('Newest',assets)">Newest</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover" id="assetTable">
            <thead>
                <th scope="col">Status</th>
                <th scope="col">Asset Tag</th>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Description</th>
            </thead>
            <tbody id="assetList">
            </tbody>
        </table>
    </div>
    <h3 class="text-center" id="searchError">{{{ errorText }}}</h3>
</div>
<script>
    let assets = {{{ assetsJson }}};
</script>
<script src="js/list.js"></script>